/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define CDE 3
#define ADJ 4

&lt { quick-tap-ms = <200>; };

&mt { quick-tap-ms = <200>; };

/ {
    macros {
        close_tag: close_tag {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp GREATER_THAN>,
                <&macro_press>,
                <&kp FSLH &kp GT>,
                <&macro_release>;

            label = "/>";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "MAIN";
            bindings = <
&kp ESCAPE  &kp TAB         &kp Q  &kp W  &kp E        &kp R        &kp T          &kp Y       &kp U            &kp I      &kp O    &kp P     &kp LBKT       &mt RWIN RBKT
            &kp LEFT_ALT    &kp A  &kp S  &kp D        &kp F        &kp G          &kp H       &kp J            &kp K      &kp L    &kp SEMI  &mt RCTRL SQT
            &kp LEFT_SHIFT  &kp Z  &kp X  &kp C        &kp V        &kp B          &kp N       &kp M            &kp COMMA  &kp DOT  &kp FSLH  &mt RALT BSLH
                                          &lt 2 LCTRL  &lt 3 SPACE  &lt 1 RET      &lt 1 LALT  &lt 3 BACKSPACE  &lt 2 DEL
            >;
        };

        lower_layer {
            label = "SYM";
            bindings = <
&trans  &kp UNDER  &kp F1    &kp F2  &kp F3     &kp F4    &kp F5         &kp F6     &kp F7    &kp F8     &kp F9    &kp F10   &kp F11          &mt RGUI F12
        &trans     &kp EXCL  &kp AT  &kp HASH   &kp DLLR  &kp PRCNT      &kp CARET  &kp AMPS  &kp STAR   &kp LPAR  &kp RPAR  &mt RCTRL MINUS
        &trans     &kp N1    &kp N2  &kp N3     &kp N4    &kp N5         &kp N6     &kp N7    &kp N8     &kp N9    &kp N0    &trans
                                     &lt 4 TAB  &trans    &trans         &trans     &trans    &lt 4 DEL
            >;
        };

        raise_layer {
            label = "NUM";
            bindings = <
&trans  &trans  &trans  &kp N1  &kp N2  &kp N3  &trans         &kp C_VOL_UP  &kp HOME        &kp PSCRN   &kp PG_UP  &kp DELETE       &kp CAPS         &trans
        &trans  &trans  &kp N4  &kp N5  &kp N6  &trans         &kp LEFT      &kp DOWN_ARROW  &kp UP      &kp RIGHT  &kp INS          &mt RCTRL K_APP
        &trans  &trans  &kp N7  &kp N8  &kp N9  &kp N0         &kp C_VOL_DN  &kp END         &kp K_MUTE  &kp PG_DN  &kp PAUSE_BREAK  &trans
                                &trans  &trans  &lt 4 RET      &lt 4 ESC     &trans          &trans
            >;
        };

        code_layer {
            bindings = <
&trans  &trans  &none   &kp PLUS        &kp DOLLAR  &kp LEFT_BRACE        &kp RIGHT_BRACE            &kp DOUBLE_QUOTES  &kp EQUAL      &kp EXCLAMATION  &kp PLUS   &kp SLASH  &kp AT_SIGN  &kp BACKSPACE
        &trans  &none   &kp MINUS       &kp SQT     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS      &close_tag         &kp LESS_THAN  &kp UNDERSCORE   &kp MINUS  &kp HASH   &none
        &trans  &trans  &kp UNDERSCORE  &kp GRAVE   &kp LEFT_BRACKET      &kp RIGHT_BRACKET          &kp COLON          &kp SEMI       &kp COMMA        &kp DOT    &kp PIPE   &kp QMARK
                                        &trans      &trans                &trans                     &none              &none          &none
            >;

            label = "CODE";
        };

        adjust_layer {
            label = "ADJ";
            bindings = <
&sys_reset  &bootloader   &none         &none              &none         &none         &none             &none         &none         &none         &none              &none         &bootloader   &sys_reset
            &bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1       &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4      &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1       &bt BT_SEL 0  &bt BT_CLR
            &out OUT_TOG  &trans        &ext_power EP_TOG  &none         &none         &none             &none         &none         &none         &ext_power EP_TOG  &tog 0        &out OUT_TOG
                                                           &trans        &none         &trans            &trans        &none         &trans
            >;
        };
    };
};
